<div class="welcome" id="about">

    <div class="container-fluid" style="clear:both;">
            <div class="container">
                <h2>About Us</h2>
                <p style="text-align:justify;" class="animated fadeInUp">SigninEvents Entertainment offers a full spectrum of integrated Event management services that consistently deliver highly targeted effective solutions tailored to the needs of our client. Our team is backed by a group of professionals from diverse background that leverages on their industry experience and proven business solutions to design event components that specifically ties in with our client's key requirements. Our team has always been led with a passion for staying at the forefront of the experiences that we create that not only engages the audience but endures long after the curtains have come down. As affirmation of our determination to become the premier Event Specialist, Signinevents Entertainment has developed a broad base of clientele ranging from Government Companies to Public Listed Companies, Multi National Corporations, Publications and High Net Worth Lifestyle Companies. With our aim for world-class best practices and local industry intelligence, we are commited to play a pro-active role in global standards, related associations and affiliations enabling us to provide consistent quality, manage risks and produce results with greater efficiency in whatever we do.</p>                
            </div>
        </div>
    
</div>