    <div class=" welcome" id="contact" ng-controller="ContactCtrl as cCtrl">
        <div class="container-fluid" style="clear:both">
            <div class="container">
                <h2>Contact Us</h2>
                <div class="animated fadeInLeft">
                <div class="address col-md-6 col-lg-6 col-xs-12 col-sm-12 fadeInRight animated">
                <h4>Address</h4> 
                <ul>
                    <li>H-No: 17-1-380/E/12</li>
					<li>Above Neha dignostics center, Srinivasa Hospital line</li>
					<li>Santhosh Nagar x-Road, I.S Sadan</li>
					<li>Saidabad, Hyderabad</li>

                </ul>
                <h4>Phone</h4> 
                <ul> 
                    <li>+91-9666661599</li>
                    <li>040-65501559</li>
                </ul>
                <h4>Email</h4> 
                    <p>signinevents@gmail.com</p>
                    <p>info@signinevents.com</p>
            </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
				<form name="contactform" class="contactform" role="form">
				<div class="form-group">
					<label class="control-label">Name</label>
					<div class="controls">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" class="form-control" ng-model="cCtrl.user.name" placeholder="Name" required="">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Email</label>
					<div class="controls">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							<input type="text" class="form-control" id="email" ng-model="cCtrl.user.email" placeholder="Email" required="">
						</div>
					</div>	
				</div>
				<div class="form-group ">
					<label class="control-label">Subject</label>
					<div class="controls">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
							<input type="text" class="form-control" id="subject" ng-model="cCtrl.user.subject" placeholder="Subject" required="">
					
						</div>
					</div>
				</div>
				<div class="form-group ">
					<label class="control-label">Message</label>
					<div class="controls">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
							<textarea ng-model="cCtrl.user.msg" class="form-control " rows="4" cols="78" placeholder="Enter your message here" required=""></textarea>

						</div>
					</div>
				</div>
				<div class="controls" style="margin-left: 40%;">
		  
					<button type="submit" id="mybtn" ng-click="cCtrl.feedback()" class="btn btn-primary">Send Message</button>
				</div>
				</form>
              <div class="col-md-12 mailtext"></div>
            </div>
                </div>
            </div>
        </div>
    </div>