<md-dialog aria-label=""  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close('close')">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="img/mangues.jpg">
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="close('close')">
       Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>