<div class="welcome" id="gallery" ng-controller="ImageCtrl as iCtrl">
   <div class="container-fluid" style="clear:both;">
       <div class="container">
             <h2>Gallery</h2>
        <div class="col-md-4 image" ng-repeat="image in iCtrl.imageList">
      <md-card >
        <div class="md-card">
            <img ng-src="images/{{image.imagename}}" class="image" height="300px" alt="Signinevents image, event mangagement in Hyderabad.">  
        </div>
    <md-card-header>
          <md-card-avatar>
            <i class="large material-icons ">language</i>
          </md-card-avatar>

          <md-card-header-text>
            <span class="md-title">{{image.displaytext}}</span>
              <span class="md-subhead">{{image.eventplace}}</span>
          </md-card-header-text>
        </md-card-header>
      </md-card>
        </div>
       </div>
 </div>
</div>