<div class="welcome">
    <div class="container fadeInDown animated " ng-controller="homeCtrl as hCtrl">
        <div class="row" style="clear:both">
             <p style="margin-top:40px;">We are a professional event management company based in Hyderabad, As one of the top event management companies in Hyderabad, Our skills lie in understanding the requirements of our clients, providing an appropriate strategy to achieve their objectives and to implement the same in the most efficient & cost effective manner. </p>  
            <div class="col-md-12">
                <div class="canvas" id="map_canvas"></div>
            </div>
            <div class="clear:both"></div>
        </div>
    </div>
</div>