<div class="welcome" id="services">

    <div class="container-fluid" style="clear:both;">
				<div class="container">
					<h3>Services/Events</h3>
				</div>
			</div>
			<div class=" container animated fadeInUp">
			<div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow b1 fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;">
                       
                        <div class="media-body">
                            <h3 class="media-heading text-center">Birthday Events</h3>
                            
                        </div>
                    </div>
            </div>
			<div class="col-sm-6 col-md-4">
                    <div class="media services-wrap b2 wow fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;">
                       
                        <div class="media-body">
                            <h3 class="media-heading text-center">Wedding Management</h3>
                            
                        </div>
                    </div>
            </div>
			<div class="col-sm-6 col-md-4">
                    <div class="media services-wrap b3 wow fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;">
                       
                        <div class="media-body">
                            <h3 class="media-heading text-center">Celebrity Events</h3>
                            
                        </div>
                    </div>
            </div>
			
			<div class="col-sm-6 col-md-4">
                    <div class="media services-wrap b4 wow fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;">
                       
                        <div class="media-body">
                            <h3 class="media-heading text-center">Corporate Events</h3>
                            
                        </div>
                    </div>
            </div>
			
			<div class="col-sm-6 col-md-4">
                    <div class="media services-wrap b5 wow fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;">
                       
                        <div class="media-body">
                            <h3 class="media-heading text-center">Entertainment Events</h3>
                            
                        </div>
                    </div>
            </div>
			<div class="col-sm-6 col-md-4">
                    <div class="media services-wrap b6 wow fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;">
                       
                        <div class="media-body">
                            <h3 class="media-heading text-center">PR and Press Meeting</h3>
                            
                        </div>
                    </div>
            </div>
			</div>
    
</div>