<div class="welcome" id="videos" ng-controller="videoCtrl as vCtrl">
    
    <div class="container-fluid" style="clear:both;">
        <div class="container ">
            <h2>Videos</h2>
           <div class="col-md-4 animated fadeInDown" ng-repeat="video in vCtrl.videoList">
      <md-card >
          
          <iframe id="ytplayer" type="text/html" ng-src="{{getIframeSrc(video.url)}}" frameborder="0" height="300px"></iframe>					
           <md-card-header>
          <md-card-avatar>
            <i class="large material-icons ">language</i>
          </md-card-avatar>

          <md-card-header-text>
            <span class="md-title">{{video.description}}</span>
              <span class="md-subhead">Hyderabad</span>
          </md-card-header-text>
        </md-card-header>
      </md-card>
        </div>
        
    </div>
    </div>
    
</div>